.player{
   background-color: burlywood;
   
  }
  .music{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/359/1012/967/white-hands-digital-art-music-wallpaper-preview.jpg);
  background-size:cover;
 background-repeat:no-repeat;
          
}
/* .head{
  position: fixed
} */
